.projectLayout {
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        flex-direction: column !important;
        align-items: center !important;
    }
}
.projectInfo {
    max-width: 300px;
    text-align: left;

    @media (max-width: 768px) {
        text-align: center !important;
    }
}

.smartLinks {
    margin-top: 10px;
}

.projectDetails {
    max-width: 600px;
    text-align: left;

    @media (max-width: 768px) {
        text-align: center !important;
        margin-top: 20px !important;
    }
}

.screenshots {
    margin-top: 10px;
}

.tags {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.bullets {
    list-style-type: none; 
    padding-left: 0; 

    li {
        display: flex; 
        align-items: center; 
        margin-bottom: 10px;
        position: relative;

        &::before {
            content: "•";
            color: #109fca;
            margin-right: 10px;
        }
    }
}
